html {
  scroll-behavior: smooth;
}

.title::after{
    content: "";
    width: 70%;
    height: 150%;
    background-color: lightblue ;
    position: absolute;
    top: -30%;
    z-index: -2;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.title::before{
    content: "";
    width: 30%;
    height: 55%;
    background-color:dodgerblue;
    position: absolute;
    bottom: -10%;
    right: 30%;
    z-index: -1;
    border-radius: 68% 32% 48% 52% / 78% 63% 37% 22%;
}

.viewport{
    width: 85%;
    height: 230px;
    margin:20px 0 50px 0;
    overflow: hidden;
}

.container-slider{
    position: relative;
    width: 2100px;
    max-height: 200px;
    padding-left: 50px;
    padding-right: 50px;
    animation: swipe 25s alternate infinite;
}

.team-member{
    max-width: 200px;
}

.card{
    box-shadow: 2px 22px 30px -10px rgba(56, 38, 38, 0.20);
}

.modul, .modul_matahari {
    border-radius:15px;
    border: 3px solid lightgray;
    transition: .3s;
}

.modul:hover {
    transform: translate(-10px,-10px);
}

.modul_matahari:hover {
    transform: translate(10px,-10px);
}

    @keyframes swipe {
        0%{left: 0;}
        15%{left: 0;}

        15%{left: -50%;}
        30%{left: -50%;}

        30%{left: -110%;}
        45%{left: -110%;}

        45%{left: -110%;}
        60%{left: -110%;}

        60%{left: -50%;}
        85%{left: -50%;}

        85%{left: 0%;}
        100%{left: -0%;}
    }

@media only screen and (max-width: 600px) {
  .title::before{
      height: 50%;
      width: 40%;
      top: -55%;
      right: 10%;
  }

  .title::after{
      height: 110%;
      width: 85%;
      top: -115%;
      right: 5%;
  }
}